:root {
  --c-bg: ghostwhite;
  --c-text: #333;
  --c-accent: dodgerblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #111;
    --c-text: #FAFAFA;
  }
}

body {
  font-family: sans-serif, system-ui;
  font-size: 1.5rem;
  margin: 2rem;
  background-color: var(--c-bg);
  color: var(--c-text);
}

body > p {
  max-width: 50rem;
}

h1 {
  margin: unset;
}

a {
  text-decoration: none;
  color: var(--c-accent);
}

a:hover {
  text-decoration: underline;
}

.mb1 {
  margin-bottom: 1rem;
}
